@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("../fonts/HelveticaNeueCyr-Roman.eot");
	src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"),
		url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"),
		url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
		url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("../fonts/HelveticaNeueCyr-Bold.eot");
	src: url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"),
		url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"),
		url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}
