@import "fonts";

// $widthContainer1366: 1200;
// $paddingContainer1366: 25;

$widthContainer2560: 1410;
$paddingContainer2560: 30;

$widthContainer1366: 1200;
$paddingContainer1366: 25;

$dark-color: #000000;
$greyish-color: #f4f4f4;
$light-color: #ffffff;
$primary-color: #ff9900;

$greyfont-color: #cfcdcd;
$darkgreyfont-color: #999999;
$brownfont-color: #996633;

$errorFaint-color: rgba(204, 0, 0, 0.5);
$error-color: rgba(204, 0, 0, 1);

$helveticaFont: "HelveticaNeueCyr", sans-serif;
$arimoFont: "Arimo";
@mixin transition-default {
	transition: all 0.3s ease-in-out;
}

//null
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: $arimoFont;
	font-size: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	display: block;
	letter-spacing: 1px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	background-color: $primary-color; /*fallback*/
	background-image: linear-gradient(
		to right,
		$light-color 0%,
		$light-color 50%,
		$primary-color 50%,
		$primary-color 100%
	);
	color: $dark-color;
	background-size: 200% 100%;
	background-repeat: no-repeat;
	background-position: 100% 0;
	transition: color 0.3s ease-in-out, background-position 0.3s ease-in-out;

	&:hover {
		background-position: 0 0;
	}
	&:disabled {
		color: $greyfont-color;
	}
}

.container-content {
	max-width: $widthContainer2560 + px;
	padding: 0 $paddingContainer2560 + px;
	margin: 0 auto;
}

.process {
	img {
		margin: 0px 0px 5px 0px;
	}
	&-sings {
		display: flex;
		font-size: 0.85125rem;
		letter-spacing: 1px;
		// font-family: $robotoFont;

		& div:nth-child(1) {
			flex: 0 0 38%;
		}
		& div:nth-child(2) {
			flex: 0 0 41%;
		}
		& div:nth-child(3) {
			flex: 0 0 21%;
		}
	}
}

.title {
	letter-spacing: 2px;
	font-size: 3.375rem;
	text-transform: uppercase;
	font-weight: 400;
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;

	.main {
		flex: 1 0 auto;
	}
}

.totop {
	position: fixed;
	bottom: 3.125rem;
	right: 3.125rem;

	opacity: 0;
	visibility: hidden;
	background-color: $primary-color;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: $light-color;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	z-index: 1;
	@include transition-default();

	&.visible-js {
		opacity: 0.8;
		visibility: visible;
		&:hover {
			opacity: 1;
		}
	}

	svg {
		color: inherit;
		width: 20px;
		height: 20px;
	}
}

.main {
	overflow-x: hidden;
}

.header {
	&-top {
		background-color: $dark-color;
		color: $light-color;
		padding: 14px 0px 9px 0px;

		.content {
			display: flex;
			justify-content: space-between;
			align-items: center;

			& > * {
				flex: 1 1 auto;
			}

			.top-column:last-child {
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}

			p {
				font-size: 0.875rem;
			}

			a {
				color: inherit;
				font-weight: bold;
				text-transform: uppercase;
			}

			.callback {
				color: $primary-color;
				font-size: 1rem;
				padding: 0px 40px 0px 20px;
			}

			.phone {
				font-size: 1.25rem;
				padding: 0px 0px 0px 31px;
				background: url("../img/icon-phone.png") no-repeat left center/ contain;
				background-size: 19px auto;
			}
		}
	}

	&-bottom {
		.content {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.bottom-column {
			display: flex;
			align-items: center;

			&:last-child {
				flex: 1 1 auto;
				padding: 0px 0px 0px 10px;
			}
		}

		.logo-content {
			.logo-wrapper {
				max-width: 88px;

				img {
					max-width: 100%;
				}
			}

			p {
				display: flex;
				flex-direction: column;
				font-size: 0.875rem;
				line-height: 1.3;
				margin: 10px 0px 0px 10px;
			}
		}
	}
}

.menu {
	width: 100%;
	ul {
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		li {
			margin: 0px 0px 0px 44px;

			&:first-child {
				margin: 0px 0px 0px 0px;
			}
		}

		a {
			display: block;
			position: relative;
			padding: 60px 0px 44px 0px;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1rem;
			color: $dark-color;

			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				height: 5px;
				width: 100%;
				background-color: $primary-color;
				opacity: 0;
				@include transition-default();
			}
			&:hover:after {
				opacity: 1;
			}
		}
	}
	&-icon {
		display: none;
	}
}

.hero {
	// padding: 130px 0px 121px 0px;
	padding: 9.517% 0px 8.858% 0px; /*1366*/
	background: url("../img/hero-bg.jpg") no-repeat center center/ cover;

	h1 {
		color: $light-color;
		font-size: 3rem;
		// max-width: 713px;
		max-width: 62%;
		// margin: 0px 0px 51px 0px;
		margin: 0px 0px 4.435% 0px;
	}

	&-description {
		display: flex;
		margin: 0px 0px 45px 0px;
	}
	&-list {
		list-style-type: square;
		margin: 0px 113px 0px 17px;

		li {
			color: $primary-color;
			// line-height: 2.2;
			margin: 17px 0px 17px 0px;

			&:last-child {
				margin: 17px 0px 0px 0px;
			}
			span {
				color: $greyfont-color;
				letter-spacing: 1px;
			}
		}
	}

	.process {
		margin: 5px 0px 0px 0px;
		img {
			max-width: 290px;
		}

		&-sings {
			max-width: 290px;
			color: $greyfont-color;
		}
	}

	.btn {
		max-width: 328px;
		padding: 16px 0px 16px 0px;
	}
}

.services {
	// padding: 136px 0px 120px 0px; /*1366*/
	padding: 9.957% 0px 8.785% 0px; /*1366*/

	.title {
		// margin: 0px 0px 85px 0px;
		margin: 0px 0px 7.392% 0px;
		span {
			color: $greyfont-color;
		}
	}

	&-body {
		display: flex;

		& > * {
			flex: 1 1 50%;
		}
	}

	&-item {
		display: flex;
		flex-direction: column;

		&:first-child {
			padding: 0px 12px 0px 0px;
		}
		&:last-child {
			padding: 0px 0px 0px 12px;
		}
	}

	&-img {
		flex: 0 0 auto;
		padding: 53.286% 0px 0px 0px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		margin: 0px 0px 40px 0px;
	}

	&-subtitle {
		flex: 0 0 auto;
		font-weight: 400;
		font-size: 1.875rem;
		// line-height: 1.5;
		position: relative;
		margin: 0px 0px 33px 0px;
		&:after {
			content: "";
			position: absolute;
			bottom: -11px;
			left: 2px;
			height: 2px;
			width: 70px;
			background-color: $primary-color;
		}
	}

	&-text {
		flex: 1 1 auto;
		line-height: 1.2;
	}
}

.features {
	// padding: 64px 0px 56px 0px; /*1366*/
	padding: 4.686% 0px 4.1% 0px;
	background-color: $greyish-color;

	&-content {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		& > * {
			// flex: 1 1 25%;
			width: calc((100% - (23px * 6)) / 4);
			// width: calc((100% - 100px) / 4);
		}
	}

	.item {
		// padding: 0px 2% 0px 2%;
		// margin: 0px 2% 0px 2%;

		&:first-child {
			// padding: 0px 2% 0px 0px;
		}
		&:last-child {
			// padding: 0px 0px 0px 2%;
		}

		&-content {
			text-align: center;
		}

		&-icon {
			margin: 0px 0px 30px 0px;
			img {
				max-height: 70px;
				max-width: 100%;
			}
		}
		&-title {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 36px;
			margin: 0px 0px 12px 0px;
			text-transform: uppercase;
			font-weight: bold;
		}
		&-text {
			font-size: 0.875rem;

			p {
				margin: 0px 0px 7px 0px;
			}
		}
	}
}

.about {
	// padding: 140px 0px 145px 0px; /*1366*/
	padding: 10.249% 0px 10.615% 0px;
	// background: url("../img/about-bg.jpg") no-repeat top -30% center/cover;
	background: url("../img/about-bg.jpg") no-repeat bottom center/cover;

	.title {
		// margin: 0px 0px 65px 0px; /*1150*/
		margin: 0px 0px 5.653% 0px;
	}

	a {
		text-decoration: underline;
		color: $brownfont-color;
		font-weight: bold;
	}
	img {
		max-width: 100%;
	}
	p {
		margin: 0px 0px 20px 0px;
		line-height: 1.2;
	}
	strong {
		font-weight: bold;
	}

	&-body {
		display: flex;
		// 782
		// 365
	}
	&-text {
		flex: 0 1 68%;
		align-self: center;
		padding: 0px 13px 0px 0px;
	}
	&-docs {
		flex: 0 1 32%;
	}

	&-slider {
		/* slick slider width fix */
		min-width: 100%;
		width: 0;

		// slick slider height fix
		.slick-track {
			display: flex !important;
		}
		.slick-slide {
			height: inherit !important;
		}
	}
	&-slide {
		outline: none;
		margin: 0px 20px 20px 20px;
		display: block;
		// box-shadow: 0 200px 200px -5px rgba(0, 0, 0, 0.1), 0 200px 200px -5px rgba(0, 0, 0, 0.04);
		box-shadow: 0 5px 35px -12px rgba(0, 0, 0, 0.25);
	}
	&-controls {
		display: flex;
		justify-content: center;
		color: $darkgreyfont-color;
		font-weight: bold;

		button {
			outline: none;
			background-color: transparent;
			cursor: pointer;
			color: inherit;
			font-weight: inherit;
		}

		.pageinfo {
			margin: 0px 5px 0px 5px;
		}
	}
}

.projects {
	margin: -4.539% 0px 0px 0px;
	// padding: 62px 0px 141px 0px;
	padding: 0px 0px 10.323% 0px;

	.title {
		// margin: 0px 0px 105px 0px;
		margin: 0px 0px 9.131% 0px;
	}

	&-slider {
		margin: 0px -12.5px;
		.slick-track {
			display: flex !important;
		}
		.slick-slide {
			height: inherit !important;
		}

		// arrows
		.slick-prev {
			left: -38px;
		}
		.slick-prev:before,
		.slick-next:before {
			opacity: 0;
			color: #e1e1e1;
			font-size: 2rem;
		}
		&:hover,
		&:focus {
			.slick-prev:before,
			.slick-next:before {
				opacity: 1;
			}
		}
	}

	&-slide {
		background-color: $greyish-color;
		margin: 0 12.5px 0px 12.5px;
		outline: none;

		.item {
			&-img {
				flex: 0 0 auto;
				// width: 365px; height: 470px;

				max-width: 100%;
				padding: 128.767% 0px 0px 0px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			}
			&-text {
				height: 100%;
				flex: 1 0 auto;
				padding: 28px 10px 28px 10px;
				display: flex;
				flex-direction: column;
			}
			&-title {
				min-height: 52px;
				flex: 0 0 auto;
				font-weight: bold;
				font-size: 1.25rem;
				// background-color: red;
				line-height: 1.3;
				margin: 0px 0px 17px 0px;
			}
			&-description {
				flex: 1 0 auto;
				line-height: 1.3;
			}
		}
	}
}

.call {
	overflow: hidden;
	.container-content {
		padding: 0px 0px 0px 0px;
	}
	&-content {
		background-color: $greyish-color;
		display: flex;
		// padding: 49px 0px 44px 0px;
		padding: 4.084% 0px 3.667% 0px;
	}
	&-column {
		&:first-child {
			// flex: 0 1 792px;
			flex: 0 1 66%;
			//padding:  0px 20px 0px 97px;
			padding: 0px 1.668% 0px 8.084%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 3rem;
		}

		&:last-child {
			flex: 0 1 408px;
			flex: 0 1 34%;
			padding: 0px 1.668% 0px 0px;
			font-weight: bold;
			p {
				margin: 0px 0px 18px -15px;
				font-size: 1.875rem;
				a {
					color: $dark-color;
				}
			}

			a:last-of-type {
				max-width: 220px;
				padding: 17px 29px 17px 29px;
				font-size: 1rem;
			}
		}
	}
}

.footer {
	padding: 102px 0px 75px 0px;
	padding: 7.468% 0px 75px 0px; /*1366*/
	background: url("../img/footer-bg.jpg") no-repeat center 72% / contain;

	.container-content {
		padding: 0px 0px 0px 0px;
	}

	&-row {
		padding: 0px 25px 0px 25px;
	}

	&-logo {
		img {
			width: 85px;
			display: block;
			margin: 0 auto;
			max-width: 100%;
		}
		margin: 0 0 6.417% 0;
	}

	&-connection {
		// margin: 0px 0px 83px 0px;
		margin: 0px 0px 6.917% 0px;
		display: flex;
	}

	.copy {
		padding: 7px 25px 7px 25px;
		// margin: 0px 0px 74px 0px;
		margin: 0px 0px 6.167% 0px;
		background-color: $primary-color;
		text-align: center;
		letter-spacing: 2px;
		font-size: 0.875rem;
	}

	.partners {
		&-slide {
			margin: 0 12.5px 0px 12.5px;
			outline: none;
		}
		img {
			margin: 0 auto;
			max-width: 100%;
		}
	}
}

.connection {
	&-column {
		&:first-child {
			// flex: 0 1 318px; /*1150*/
			flex: 0 1 27.65%;
		}
		&:nth-child(2) {
			// flex: 0 1 410px;
			flex: 0 1 35.652%;
			margin: 0px auto 0px auto;
		}
		&:nth-child(3) {
			// flex: 0 1 195px;
			flex: 0 1 17.037%;
		}
	}

	&-description {
		line-height: 1.3;
		font-size: 0.875rem;
		// font-family: $robotoFont;
		margin: 0px 0px 45px 0px;
		p {
			margin: 0px 0px 15px 0px;
		}
	}

	.process {
		h5 {
			// font-family: $robotoFont;
			font-size: 0.85125rem;
			font-weight: lighter;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			margin: 0px 0px 7px 0px;
		}

		img {
			max-width: 302px;
			// max-width: 100%;
		}
		&-sings {
			max-width: 302px;
		}
	}

	&-contacts {
		h5 {
			text-transform: uppercase;
			font-weight: 400;

			letter-spacing: 1px;
			margin: 0px 0px 15px 0px;
		}

		.list {
			list-style: none;
			// font-family: $robotoFont;

			margin: 0px 0px 35px 0px;

			li {
				color: $dark-color;
				font-size: 0.875rem;
				padding: 0px 0px 0px 29px;
				line-height: 2;
				position: relative;

				&:nth-child(1) {
					&:after {
						background-position: 0px 0px;
					}
				}
				&:nth-child(2) {
					&:after {
						background-position: 0px -60px;
					}
				}
				&:nth-child(3) {
					&:after {
						background-position: 0px -90px;
					}
				}
				&:nth-child(4) {
					&:after {
						background-position: 0px -118px;
					}
				}

				&:after {
					content: "";
					position: absolute;
					top: 5px;
					left: 0;
					height: 23px;
					width: 23px;
					background: url("../img/footer-contact-icons.png") no-repeat;
					background-size: 20px auto;
				}
			}

			a {
				color: inherit;
			}
		}

		.socials {
			&-link {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				color: #898989;
				background-color: #e6e6e6;
				border-radius: 50%;
				width: 32px;
				height: 32px;

				&:nth-child(2) {
					margin: 0px 7px 0px 7px;
				}

				&:hover {
					// color: red;
					// background-color: #f8fafa;
					// box-shadow: 1px 8px 10px #dddddd;
				}

				svg {
					color: inherit;
					width: 15px;
					height: 15px;
				}
			}
		}
	}

	&-nav {
		ul {
			list-style: none;
		}
	}
	&-menu {
		color: $dark-color;

		li {
			margin: 0px 0px 16px 0px;
			text-transform: uppercase;
		}
		a {
			color: inherit;
			font-weight: 100;

			&:hover {
				font-weight: bold;
			}
		}
	}
	&-policy {
		li {
			margin: 0px 0px 12px 0px;

			font-size: 0.75rem;
		}
		a {
			color: inherit;
			font-weight: 100;

			&:hover {
				font-weight: bold;
			}
		}
	}
}
// +++++++++++++ Page COMMON CLASSES ++++++++++++
.page {
	&-heading {
		// padding: 118px 0px 40px 0px;
		// padding: 6.021% 0px 2.041% 0px; /*1960 */
		padding: 4.643% 0px 13px 0px;
		background-position: left center;
		background-size: cover;

		h1 {
			text-transform: uppercase;

			font-size: 2.5rem;
			font-weight: 400;
			letter-spacing: 1px;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				bottom: -14px;
				left: 0;
				right: 0;
			}
		}
	}
}
// +++++++++++++  Contact Page +++++++++++

.contacts {
	&-top {
		h1 {
			&:after {
				background-color: $light-color;
			}
		}
	}

	&-bottom {
		// padding: 122px 0px 125px 0px;
		padding: 6.225% 0px 6.378% 0px; /*1960 */
	}
	&-content {
		display: flex;
	}
	&-info {
		// 775 /*1350 */
		flex: 0 1 57.408%;
		// padding: 0px 110px 0px 0px;
		padding: 0px 14% 0px 0px;

		h3 {
			font-weight: 400;
			text-transform: uppercase;
			font-size: 1.5rem;
			margin: 0px 0px 18px 0px;
		}

		.contact {
			// max-width: 400px;
			max-width: 68.61%; /*583*/
			margin: 0px 0px 55px 0px;

			p {
				margin: 0px 0px 18px 0px;
			}
		}

		.schedule {
			padding: 0px 0px 0px 25px;
			margin: 0px 0px 50px 0px;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				top: 0px;
				left: 0;
				height: 23px;
				width: 23px;
				background: url("../img/footer-contact-icons.png") no-repeat;
				// background-size: 20px auto;
				background-position: 0px -140px;
			}
		}
	}
	&-form {
		// 575/*1350 */
		flex: 0 1 42.592%;
	}

	.feedback-form {
		display: flex;
		align-items: center;
		flex-flow: column wrap;
		margin: 0px auto 0px auto;
		z-index: 1;
	}

	.form-group {
		position: relative;
		width: 100%;

		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		margin: 48px 0px 0px 0px;

		&:first-child {
			margin: 0px 0px 0px 0px;
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 100%;
			display: block;
			width: 0;
			height: 1px;
			background-color: #000;
			transition: width 0.5s ease-in-out;
		}

		&.error {
			border-color: $error-color;

			&::before {
				background-color: $error-color;
			}
		}

		&.input-active {
			&::before {
				width: 100%;
			}
		}

		label {
			display: block;
			transform: translateY(0);
			transform-origin: 0 100%;
			transition: transform 0.2s ease-in-out;
			font-size: 1rem;
			&.input-active {
				//font-size: 0.75em
				transform: scale(0.75) translateY(-2rem);
			}
		}
	}
	.alert {
		width: 100%;
		margin: 10px 0px 0px 0px;
		font-size: 14px;
		color: #cc0000;
	}
	input,
	textarea {
		width: 100%;
		border: none;
		outline: none;
		background-color: transparent;
	}

	textarea {
		max-width: 574.98px;
	}

	.btn {
		margin: 50px 0px 50px 0px;
		padding: 18px 28px 18px 28px;
		width: 100%;
		max-width: 390px;
		background-size: 201% 100%;
		// border: 2px solid transparent;
		border: 2px solid $light-color;
		@include transition-default();

		&:disabled {
			color: $greyfont-color;
		}

		&:hover {
			border: 2px solid $dark-color;
		}
	}

	.kappa {
		display: none;
		width: 307px;
		padding: 80px 0px 0px 0px;
		margin: 48px 0px 48px 0px;
		background: url("../img/contacts-capcha.jpg") no-repeat center center/contain;
	}

	.policy {
		color: grey;
		line-height: 1.5;

		span {
			font-weight: bold;
		}
	}
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;

	@include transition-default();

	&.open {
		visibility: visible;
		opacity: 1;
	}

	&-content {
		background-color: $light-color;
		padding: 20px 20px 20px 20px;
		border-radius: 5px;
		max-width: 300px;
		position: relative;
	}
	&-close {
		position: absolute;
		top: 10px;
		right: 10px;
		color: $dark-color;

		@include transition-default();

		&:hover {
			color: $error-color;
			transform: rotate(90deg);
		}
	}
	&-text {
		text-align: center;
		font-size: 1.25rem;
		margin: 10px 0px 20px 0px;
	}

	.btn {
		max-width: 200px;
		margin: 0 auto 10px auto;
		padding: 15px 0px 15px 0px;
		border: 2px solid $light-color;
		@include transition-default();

		&:hover {
			border: 2px solid $dark-color;
		}
	}
}

.map {
	// padding: 0px 0px 185px 0px;
	padding: 0px 0px 9.439% 0px; /*1960 */
	.container-content {
		padding: 0px 0px 0px 0px;
	}
	&-content {
		// padding: 470px 0px 0px 0px;
		padding: 33.333% 0px 0px 0px; /*1960 */
		width: 100%;
		background: url("../img/map.jpg") no-repeat center center/contain;
	}
}
// +++++++++++++  Vacancy Page +++++++++++
.vacancy {
	h2 {
		font-weight: 400;
		font-size: 1.5rem;
		text-transform: uppercase;
		margin: 0px 0px 24px 0px;
	}
	&-heading {
		h1 {
			&:after {
				background-color: $dark-color;
			}
		}
	}

	&-description {
		display: flex;
		padding: 9.038% 0px 4.08% 0px;
	}

	&-text {
		// 805 59,62962962962963
		flex: 1 0 59.63%;
		// padding: 0px 55px 0px 0px;
		padding: 0px 4.08% 0px 0px;

		p {
			font-size: 1.25rem;
			line-height: 1.3;
			margin: 0px 0px 20px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}

		.phone {
			color: $dark-color;
			font-weight: bold;
			font-size: 1.5rem;
		}
	}

	&-img {
		// 545 40,37037037037037
		flex: 1 0 40.37%;

		img {
			max-width: 100%;
		}
	}
}

.offers {
	// h2 {
	// 	margin: 0px 0px 47px 0px;
	// }
	&-item {
		border: 1px solid $greyish-color;
		background-color: $greyish-color;
		padding: 28px 28px 28px 28px;
		margin: 0px 0px 20px 0px;
		position: relative;
		@include transition-default();

		&:last-child {
			margin: 0px 0px 0px 0px;
		}

		&:hover {
			border-color: $dark-color;
		}
	}
	&-btn {
		cursor: pointer;
		position: absolute;
		right: 16px;
		top: 16px;
		width: 30px;
		height: 30px;
		border: 1px solid $dark-color;
		border-radius: 5px;
		background-color: $light-color;
		&:hover {
			background-color: #f4f4f4;
			@include transition-default();
		}

		img {
			transform: rotate(180deg);
			@include transition-default();
		}

		// &:hover {
		// 	img {
		// 		transform: rotate(0deg);
		// 	}
		// }
	}
	&-details {
		font-weight: bold;
		color: $darkgreyfont-color;
		margin: 0px 20px 15px 0px;
	}
	&-title {
		font-size: 1.25rem;
		font-weight: 400;
	}
	&-body {
		// background-color: cyan;
		transition: all 0.5s; /*close*/
		max-height: 0px;
		overflow: hidden;
	}
	&-text {
		padding: 36px 0px 11px 0px;

		h6 {
			font-weight: bold;
			font-size: 1rem;
			margin: 0px 0px 15px 0px;
		}
		p {
			margin: 0px 0px 15px 0px;
		}
		ul {
			margin: 0px 0px 0px 16px;
		}
		li {
			margin: 0px 0px 15px 0px;
		}
	}

	&-item.open {
		border-color: $dark-color;
		.offers-body {
			transition: all 1s; /*open*/
			max-height: 1000px;
			// overflow: visible;
		}
		.offers-btn {
			img {
				transform: rotate(0deg);
			}
		}
	}
}
