$widthContainer1366: 1200;
$paddingContainer1366: 25;

$widthContainer414: 414;
$paddingContainer414: 24;

$dark-color: #000000;
$greyish-color: #f4f4f4;
$light-color: #ffffff;
$primary-color: #ff9900;

$greyfont-color: #cfcdcd;
$darkgreyfont-color: #999999;
$brownfont-color: #996633;

$helveticaFont: "HelveticaNeueCyr", sans-serif;
$arimoFont: "Arimo";
@mixin transition-default {
	transition: all 0.3s ease-in-out;
}

@media (max-width: 1440px) {
	.container-content {
		max-width: $widthContainer1366 + px;
		padding: 0 $paddingContainer1366 + px;
	}
}

$widthContainer1366: 1200;
$paddingContainer1366: 25;

$paddingContainer1100: 5.909%;

$widthContainer414: 414;
$paddingContainer414: 24;

$dark-color: #000000;
$greyish-color: #f4f4f4;
$light-color: #ffffff;
$primary-color: #ff9900;

$greyfont-color: #cfcdcd;
$darkgreyfont-color: #999999;
$brownfont-color: #996633;

$helveticaFont: "HelveticaNeueCyr", sans-serif;
$arimoFont: "Arimo";
@mixin transition-default {
	transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1440px) {
	.container-content {
		max-width: $widthContainer1366 + px;
		padding: 0 $paddingContainer1366 + px;
	}
}

@media screen and (max-width: 1100px) {
	.container-content {
		padding: 0 $paddingContainer1100;
	}

	.contacts {
		&-content {
			display: block;
		}

		&-info {
			margin: 0px 0px 65px 0px;
			padding: 0px 0px 0px 0px;
		}

		&-form {
			max-width: 575px;
			margin: 0 auto;
		}
	}

	.vacancy {
		&-description {
			display: block;
		}
		&-img {
			display: none;
		}
	}
}
@media screen and (max-width: 460px) {
	.connection {
		.process {
			img {
				max-width: 100%;
			}
		}
	}
	.page {
		&-heading {
			h1 {
				font-size: 2rem;
			}
		}
	}
	.contacts {
		&-info {
			font-size: 0.875rem;
			h3 {
				font-size: 1rem;
			}
		}
	}
	.vacancy {
		h2 {
			font-size: 1rem;
		}
		&-text {
			p {
				font-size: 0.875rem;
				&:last-child {
					margin: 0px 0px 20px 0px;
				}
			}

			.phone {
				font-size: 1rem;
			}
		}
	}
}
