$widthContainer1366: 1200;
$paddingContainer1366: 25;

$widthContainer414: 414;
$paddingContainer414: 24;

$dark-color: #000000;
$greyish-color: #f4f4f4;
$light-color: #ffffff;
$primary-color: #ff9900;

$greyfont-color: #cfcdcd;
$darkgreyfont-color: #999999;
$brownfont-color: #996633;

$helveticaFont: "HelveticaNeueCyr", sans-serif;
$arimoFont: "Arimo";
@mixin transition-default {
	transition: all 0.3s ease-in-out;
}

@media (max-width: 1440px) {
	.container-content {
		max-width: $widthContainer1366 + px;
		padding: 0 $paddingContainer1366 + px;
	}
}
